.container{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
}

.item{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: black;
}

#i1{
    background-color: purple;
}

#i2{
    background-color: aqua;
}

#i3{
    background-color: white;
}

#i4{
    background-color: slateblue;
}
    